<!DOCTYPE HTML>
<html>
<head>

</head>
<body>
    <section>
        <% book.forEach(book => {%>
            <li class="singleBookResult">
                <img class ="bookImage" src="<%= book.img %>" />
                <p class = "bookTitle"><%= book.title %></p>
                <p class="bookAuthor"><em><%= book.author %></em></p>
                <p class="bookDescription"><%= book.description %></p>
                <form action="/" method="post"></form>
                <%}) %>
            </li>
    </section>
</body>
</html>