<!DOCTYPE html>
<html>

<head>
    <%- include('../../layout/head') %>
</head>

<body>
    <header>
        <%- include('../../layout/header') %>
        </div>
        <h2>Search by Title or Author</h2>
    </header>
    <main>
        <form action="/searches/new" method="post">
            <fieldset>
                <input class="inputQuery" type="text" name="search" placeholder="Enter Title or Author" required>
            </fieldset>
            <fieldset>
                <div class="radioDiv">Title<input type="radio" name="search" value="title" required></div>

                <div class="radioDiv">Author<input type="radio" name="search" value="author" required></div>
            </fieldset>
            <button type="submit">Search GBooks API</button>
        </form>
    </main>
    <footer>
        <%- include('../../layout/footer') %>
    </footer>
</body>

</html>