<!DOCTYPE html>
<html>

<head>
    <title>Search For Books</title>
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
</head>

<body>
    <header>
        <div id="headerDiv">
            <h1 id="headerBooks">Best Books!</h1><img src="/assets/burgerMenu.jpg" id="burgerMenu">
        </div>
        <h2>Search by Title or Author</h2>
    </header>
    <main>
        <form action="/searches" method="post">
            <fieldset>
                <input class="inputQuery" type="text" name="search" placeholder="Enter Title or Author" required>
            </fieldset>
            <fieldset>
                <div class="radioDiv">Title<input type="radio" name="search" value="title" required></div>

                <div class="radioDiv">Author<input type="radio" name="search" value="author" required></div>
            </fieldset>
            <button type="submit">Search GBooks API</button>
        </form>
    </main>
</body>

</html>