<!DOCTYPE HTML>
<html>

<head>
    <title>Results</title>
    <link rel="stylesheet" type="text/css" href="/styles/base.css">
</head>

<body>
    
    <main>
        <ul>
            <% booksArray.forEach(book => {%>
            <li class="bookResult">
                <img class ="bookImage" src="<%= book.img%>" />
                <p class = "bookTitle"><%= book.title %></p>
                <p class="bookAuthor"><em><%= book.author %></em></p>
                <p class="bookDescription"><%= book.description %></p>
                <form action="/" method="post"></form>
            </li>
            <%}) %>
        </ul>
        <a href="/">home</a>
    </main>
</body>

</html>