<!DOCTYPE html>
<html>
    <head>
        <title>Oops! Something went wrong</title>
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
    </head>
    <body>
        <h1>Sorry, something went wrong.</h1>
        <p><%= error.message %></p>
    </body>
</html>