<!DOCTYPE HTML>
<html>
    <head>
        <title>Book App</title>
        <link rel="stylesheet" type="text/css" href="/styles/reset.css">
        <link rel="stylesheet" type="text/css" href="/styles/base.css">
        <link rel="stylesheet" type="text/css" href="/styles/layout.css">
        <link rel="stylesheet" type="text/css" href="/styles/modules.css">
    </head>
    <body>
        <h1>Hello World!</h1>
        <h2>Click below to search through Google Books API
            <br><a href="/searches/new">CLICK HERE</a>
        </h2>
        
    </body>
</html>