@import 'reset.css';
@import 'layout.css';
@import 'modules.css';


h1 {
    display: inline;
    font: 24pt Arial;
    color: white;
}

h2 {
    color: white;
    background: rgb(70, 70, 70);
    padding: 20px;
    text-align: center;
    font: 20pt Arial;
}

main {
   margin: auto;
   max-width: 90%;
   text-align: center;
}

body {
    background: rgb(124, 124, 124);
    max-width: 960px;
    margin: auto;
}
